<div class="panel panel-default">
  <div class="panel-body">
  	<div class="flex-box" *ngIf="isAdminView">
	  	<div class="btn-icon-link create-user" (click)="createUser()">Create User</div>
	  	<div class="btn-icon-link tests" (click)="manageTests()">Manage Test  Categories & Tests</div>
  	</div>
  	<div class="flex-box" *ngIf="isAdminView">
	  	<div class="btn-icon-link medicines" (click)="manageMedicines()">Manage Medicines</div>
	  	<div class="btn-icon-link doctors" (click)="manageDoctors()">Manage Doctors</div>
  	</div>
  	<div class="flex-box">
	  	<div class="btn-icon-link view-patients" (click)="goToPatients()">View Patients</div>
	  	<div class="btn-icon-link add-patients" (click)="addPatient()">Add Patients</div>
  	</div>
  </div>
</div>