<div class="panel panel-default">
  	<div class="panel-body">
  		<div class="alert alert-success" *ngIf="status === 'success' && !obstetricHistoryForm.dirty">
		    <strong>Details saved successfully!</strong>
		</div>
		<div class="alert alert-danger" *ngIf="status === 'error'">
		    <strong>{{errorMessage}}</strong>
		</div>
  		<form [formGroup]="obstetricHistoryForm" (ngSubmit)="savePatientHistory(obstetricHistoryForm.value)" novalidate="novalidate" [ngClass]="{submitted:saveButtonClicked}">
			<gncc-input [inputType]="'textarea'" [labelText] = "'Labour History'" [inputControl] = "obstetricHistoryForm.controls['labourhistory']" [rows]="10"></gncc-input>
			
		  	<button class="btn btn-primary btn-block" type="submit">Save Patient History</button>
		</form>
  	</div>
</div>