<div class="panel panel-default">
  	<div class="panel-body">
  		<div class="alert alert-success" *ngIf="status === 'success' && !addPatientForm.dirty">
		    <strong>Details saved successfully!</strong>
		</div>
		<div class="alert alert-danger" *ngIf="status === 'error'">
		    <strong>{{errorMessage}}</strong>
		</div>
  		<form [formGroup]="addPatientForm" (ngSubmit)="addPatient(addPatientForm.value)" novalidate="novalidate" [ngClass]="{submitted:addPatientButtonClicked}">
	  		<gncc-input [labelText] = "'First Name'" [inputControl] = "addPatientForm.controls['firstname']" [placeholderText] = "'First name'"></gncc-input>

	  		<gncc-input [labelText] = "'Last Name'" [inputControl] = "addPatientForm.controls['lastname']" [placeholderText] = "'Last name'"></gncc-input>

	  		<gncc-input [labelText] = "'Father/Guardians Name'" [inputControl] = "addPatientForm.controls['fathersname']" [placeholderText] = "'Guradian name'"></gncc-input>

	  		<gncc-input [labelText] = "'Sex'" [inputControl] = "addPatientForm.controls['sex']" [inputType]="'select'" [optionList]="sexList" [placeholderText] = "'Sex'"></gncc-input>
			
			<gncc-input [labelText] = "'Date of Birth'" [inputControl] = "addPatientForm.controls['dateofbirth']" [inputType]="'date'" [maxDate]="todaysDate"></gncc-input>

			<gncc-input [labelText] = "'Mobile'" [inputControl] = "addPatientForm.controls['mobilenumber']" [placeholderText] = "'Mobile'" [inputType]="'number'"></gncc-input>
			
		  	<button class="btn btn-primary btn-block" type="submit">Add Patient</button>
		</form>
  	</div>
</div>