<tabs isVertical='true'>
	<tab tabTitle="Family History" isVertical="true" >
		<pd-family-history [patientHistory]="patientHistory"></pd-family-history>
	</tab>
	<tab tabTitle="Personal History" isVertical="true">
		<pd-personal-history [patientHistory]="patientHistory"></pd-personal-history>
	</tab>
	<tab tabTitle="History Of Illness" isVertical="true">
		<pd-history-of-illness [patientHistory]="patientHistory"></pd-history-of-illness>
	</tab>
	<tab tabTitle="Past Medical History" isVertical="true">
		<pd-medical-history [patientHistory]="patientHistory"></pd-medical-history>
	</tab>
	<tab tabTitle="Current Medications" isVertical="true">
		<pd-current-medications [patientHistory]="patientHistory"></pd-current-medications>
	</tab>
	<tab tabTitle="Obstetric History" isVertical="true" *ngIf="patient.sex=='Female'">
		<pd-obstetric-history [patientHistory]="patientHistory"></pd-obstetric-history>
	</tab>
	<tab tabTitle="Gynaecological History" isVertical="true" *ngIf="patient.sex=='Female'">
		<pd-gynaecological-history [patientHistory]="patientHistory"></pd-gynaecological-history>
	</tab>
</tabs>
