<div class="panel panel-default">
  	<div class="panel-body">
  		<div class="alert alert-success" *ngIf="status === 'success' && !personalHistoryForm.dirty">
		    <strong>Details saved successfully!</strong>
		</div>
		<div class="alert alert-danger" *ngIf="status === 'error'">
		    <strong>{{errorMessage}}</strong>
		</div>
  		<form [formGroup]="personalHistoryForm" (ngSubmit)="savePatientHistory(personalHistoryForm.value)" novalidate="novalidate" [ngClass]="{submitted:saveButtonClicked}">
	  		<gncc-input [labelText] = "'Smoking'" [inputControl] = "personalHistoryForm.controls['smoking']" [inputType]="'select'" [optionList]="smokingList"></gncc-input>

			<gncc-input [labelText] = "'Alcohol'" [inputControl] = "personalHistoryForm.controls['alcohol']" [inputType]="'select'" [optionList]="alcoholList"></gncc-input>

	  		<gncc-input [labelText] = "'Chewing'" [inputControl] = "personalHistoryForm.controls['chewing']" [inputType]="'select'" [optionList]="chewingList"></gncc-input>

	  		<gncc-input [labelText] = "'Eating Habit'" [inputControl] = "personalHistoryForm.controls['eatinghabit']" [inputType]="'select'" [optionList]="eatingHabits"></gncc-input>
			
		  	<button class="btn btn-primary btn-block" type="submit">Save Patient History</button>
		</form>
  	</div>
</div>